@font-face {
    font-family: "Arista 2.0";
    src: url('assets/fonts/z-arista/Arista2.0/"Alternate light".ttf') format('truetype');
    src: url('assets/fonts/z-arista/Arista2.0/"Alternate light".ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;

}
main {
    display: flex;
    width: 100%;
}
.content {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    font-family: arista;
    .logo-and-name {
        background-image: ;
        display: flex;
        width: 100%;
        img {
            height: 30vh;
            margin: 0%;
        }
        h1 {
            margin-top: auto;
            margin-bottom: auto;
            justify-content: left;
        }
    }
    .slogan {
        h1 { 
            font-style: ;
        }
    }
}
.login-form {
    display: flex;
    width: 50%;
}
